@model Inmobiliaria.Models.Usuario

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
				<label asp-for="Id" class="d-none control-label"></label>
				<input asp-for="Id" class="form-control" type="hidden" disabled/>
				<span asp-validation-for="Id" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Nombre" class="control-label"></label>
				<input asp-for="Nombre" class="form-control" />
				<span asp-validation-for="Nombre" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Apellido" class="control-label"></label>
				<input asp-for="Apellido" class="form-control" />
				<span asp-validation-for="Apellido" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
            
@* ----------------------------------------------------------------------------------- *@
			
			<div class="container-password-click">
				@Html.ActionLink("Cambiar password", "EditPassword", new {id = Model.Id})
			</div>

			<div id="change-password-modal" class="modal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Cambiar contrase単a</h5>
							<button type="button" class="btn-close" data-dismiss="modal"></button>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-group">
									<label for="current-password">Contrase単a actual</label>
									<input type="password" id="current-password" name="current-password" class="form-control">
								</div>
								<div class="form-group">
									<label for="new-password">Nueva contrase単a</label>
									<input type="password" id="new-password" name="new-password" class="form-control">
								</div>
								<div class="form-group">
									<label for="confirm-password">Confirmar contrase単a</label>
									<input type="password" id="confirm-password" name="confirm-password" class="form-control">
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary btn-cancelar" data-dismiss="modal">Cancelar</button>
							<button type="button" class="btn btn-primary">Guardar</button>
						</div>
					</div>
				</div>
			</div>

			<script>
				document.addEventListener("DOMContentLoaded", function() {
					var changePasswordLink = document.querySelector(".change-password");
					var changePasswordModal = document.querySelector("#change-password-modal");
					var btnCloseModal = changePasswordModal.querySelector(".btn-close");
					var btnCancelModal = changePasswordModal.querySelector(".btn-cancelar");
					
					changePasswordLink.addEventListener("click", function(event) {
						event.preventDefault();
						changePasswordModal.classList.add("show");
						changePasswordModal.style.display = "block";
					});
					
					changePasswordModal.addEventListener("click", function(event) {
						if (event.target === btnCloseModal || event.target === btnCancelModal) {
							changePasswordModal.classList.remove("show");
							changePasswordModal.style.display = "none";
						}
					});

					
				});
			</script>

			@* <div class="form-group">
				<label asp-for="Clave" class="control-label"></label>
				<input asp-for="Clave" class="form-control" />
				<span asp-validation-for="Clave" class="text-danger"></span>
			</div> *@
@* ----------------------------------------------------------------------------------- *@

            <div class="form-group">
                <label asp-for="AvatarFile" class="control-label">Avatar</label>
                <br>
                <img id="avatar-img" src="@Model.AvatarRuta" alt="Avatar" width="132">
                <input type="file" class="custom-file-input" name="AvatarFile" id="avatar-input" onchange="mostrarImagen()">
                <span asp-validation-for="AvatarFile" class="text-danger"></span>

            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

<script src="~/js/EditUser.js"></script>