@model Inmobiliaria.Models.Usuario

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
				<label asp-for="Id" class="d-none control-label"></label>
				<input asp-for="Id" class="form-control" type="hidden" disabled/>
				<span asp-validation-for="Id" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Nombre" class="control-label"></label>
				<input asp-for="Nombre" class="form-control" />
				<span asp-validation-for="Nombre" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Apellido" class="control-label"></label>
				<input asp-for="Apellido" class="form-control" />
				<span asp-validation-for="Apellido" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			
			<div class="container-password-click">
				@Html.ActionLink("Cambiar password", "EditPassword", new {id = Model.Id})
			</div>

            <div class="form-group">
                <label asp-for="AvatarFile" class="control-label">Avatar</label>
                <br>
                <img id="avatar-img" src="@Model.AvatarRuta" alt="Avatar" width="132">
                <input type="file" class="custom-file-input" asp-for="AvatarFile" id="avatar-input" onchange="mostrarImagen()">
                <span asp-validation-for="AvatarFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

<script src="~/js/EditUser.js"></script>