@model Inmobiliaria.Models.LoginView

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inmobiliaria.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="position: absolute; top: 0; left: 0; right: 100%; width: 100%;">
            <strong>¡Error!</strong> @ViewBag.Error
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"></span>
            </button>
        </div>
    }
    <section class="vh-100">
        <div class="container-fluid">
            <div class="row">
            <div class="col-sm-6 text-black d-flex justify-content-center align-items-center">
                <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

                <form asp-controller="Usuarios" asp-action="Login" style="width: 23rem;">

                    <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Iniciar sesion</h3>

                    <div class="form-outline mb-4">
                    <input asp-for="Email" type="email" id="form2Example18" class="form-control form-control-lg" />
                    <label asp-for="Email" class="form-label" for="form2Example18">Email</label>
                    </div>

                    <div class="form-outline mb-4">
                    <input asp-for="Clave" type="password" id="form2Example28" class="form-control form-control-lg" />
                    <label asp-for="Clave" class="form-label" for="form2Example28">Clave</label>
                    </div>

                    <div class="pt-1 mb-4">
                        <input type="submit" value="Entrar" class="btn btn-info btn-lg btn-block" />
                    </div>
                </form>

                </div>

            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <img src="https://www.cleanipedia.com/images/iohqr4whhl17/42BMOGs2AcMeXH8ihHyF6c/540010e24aad303f9930337bfbb891c5/R2V0dHlJbWFnZXMtMTE3NjkwMzg1Ny5qcGc/990w-660h/los-mejores-colores-para-exteriores-de-casa.jpg"
                alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
            </div>
            </div>
        </div>
    </section>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>