@model Inmobiliaria.Models.Pago

@{
    ViewData["Title"] = "Create";
}
@using (Html.BeginForm("Create", "Pagos", new { returnUrl = "index" }, FormMethod.Post)){
    @await Html.PartialAsync("./_Create")
}

<div>
    <a asp-action="Index">Volver</a>
</div>

<script src="~/js/DatosExtra.js"></script>
<script src="~/js/CreatePago.js" type="module"></script>