@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Inmobiliaria</h1>
    <p>Que desea realizar?</p>
</div>

<div class="options d-flex justify-content-center align-items-center">
    <h4>Proximamente...</h4>
</div>
