@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 576px){
.container, .container-sm {
  max-width: 96%;
}
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  color: white;
  
}

body {
  background-image: radial-gradient(var(--color-principal-fondo), var(--color-secundario-fondo));
  font-family: 'Roboto', sans-serif;
}

.options{
  height: 300px;
}

a {
  text-decoration: none;
}

.btn-volver{
  font-size: 1.6rem;
}